<div class="container">
    <div class="col-md-4 mt-5">
        @if(visualizeUsers === 'NOT_SQUAD'){
        <div class="card">
            <div class="card-body mt-5 mb-5">
                <div class="d-flex justify-content-center">
                    <img class="pb-3" src="assets/emotes/emote.svg" alt="">
                </div>
                <p>Nenhuma squad cadastrada. Crie uma squad para começar.</p>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary" (click)="openSquad(squad)">Criar Squad</button>
                </div>
            </div>
        </div>
        }@else if (visualizeUsers === 'NOT_USER') {
        <div class="card">
            <div class="card-body mt-5 mb-5">
                <div class="d-flex justify-content-center">
                    <img class="pb-3" src="assets/emotes/emote.svg" alt="">
                </div>
                <p>Nenhum usuário cadastrado. Crie um usuário para começar.</p>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary" (click)="open(user)">Criar usuário</button>
                </div>
            </div>
        </div>
        }@else if(visualizeUsers === 'HAS_USER'){
        <h3>Lista de usuários</h3>
        <br>
        <div class="card" style="min-width: 700px;">
            <div class="card-body mt-5 mb-5" style="min-width: 700px;">
                <table class="table table-responsive custom-table">
                    <thead>
                        <tr>
                            <th style="width: 25%;" class="text-center" scope="col">Nome</th>
                            <th style="width: 45%;" scope="col">Horas</th>
                            <th style="width: 30%;" scope="col">Squad ID</th>
                        </tr>
                    </thead>
                    <tbody class="table-light">
                        @for (item of employees; track $index) {
                        <tr>
                            <td class="text-center">{{item.name}}</td>
                            <td>{{item.hours}}</td>
                            <td>{{item.squad}}</td>
                        </tr>
                        }

                    </tbody>
                </table>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary" (click)="open(user)">Criar usuário</button>
                </div>
            </div>
        </div>
        }
    </div>
</div>

<ng-template #squad let-c="close" let-d="dismiss">
    <div class="modal-header text-center">
        <h4 class="modal-title" id="modal-basic-title">Criar Squad</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="squadForm">
            <div class="form-group">
                <label for="name">Nome da squad</label>
                <input
                       id="name"
                       type="text"
                       formControlName="name"
                       placeholder="Digite o nome da squad" />
                <div *ngIf="squadForm.get('name')?.touched && squadForm.get('name')?.invalid">
                    <small class="error">O nome da squad é obrigatório</small>
                </div>
            </div>

            <button (click)="createSquad()" [disabled]="squadForm.invalid">Criar squad</button>
        </form>
    </div>
</ng-template>

<ng-template #user let-c="close" let-d="dismiss">
    <div class="modal-header text-center">
        <h4 class="modal-title" id="modal-basic-title">Criar Usuário</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="userForm">

            <div class="form-group">
                <label for="name">Nome do Usuário</label>
                <input
                       id="name"
                       type="text"
                       formControlName="name"
                       placeholder="Digite o nome da squad" />
                <div *ngIf="userForm.get('name')?.touched && userForm.get('name')?.invalid">
                    <small class="error">O nome é obrigatório</small>
                </div>
            </div>


            <div class="form-group">
                <label for="hours">Horas Estimadas de Trabalho</label>
                <input
                       id="hours"
                       type="number"
                       formControlName="hours"
                       placeholder="Digite a quantidade de horas" />
                <div *ngIf="userForm.get('hours')?.touched && userForm.get('hours')?.invalid">
                    <small class="error">As horas devem ser positivas</small>
                </div>
            </div>


            <div class="form-group">
                <label for="squad">Squad</label>
                <input
                       id="squad"
                       type="text"
                       formControlName="squad"
                       placeholder="Digite o Id da squad"
                       [ngClass]="{ error: squadError }" />
                <div *ngIf="squadError">
                    <small class="error">Não existe squad com este ID</small>
                </div>
            </div>


            <button (click)="createUser()" [disabled]="userForm.invalid">Criar usuário</button>
        </form>
    </div>
</ng-template>