<div class="container">
    <div class="col-md-4 mt-5">
        @if(visualizeSquads === 'NONE'){
        <div class="card">
            <div class="card-body mt-5 mb-5">
                <div class="d-flex justify-content-center">
                    <img class="pb-3" src="assets/emotes/emote.svg" alt="">
                </div>
                <p>Nenhuma squad cadastrada. Crie uma squad para começar.</p>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary" (click)="addNewSquad()">Criar Squad</button>
                </div>
            </div>
        </div>
        }@else if(visualizeSquads === 'ALL_SQUADS') {
        <div class="card" style="min-width: 700px;">
            <div class="card-body mt-5 mb-5" style="min-width: 700px;">
                <table class="table table-responsive custom-table">
                    <thead>
                        <tr>
                            <th style="width: 25%;" class="text-center" scope="col">ID</th>
                            <th style="width: 45%;" scope="col">Nome</th>
                            <th style="width: 30%;" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="table-light">
                        @for (item of squads; track $index) {
                        <tr>
                            <td class="text-center">{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>
                                <div class="d-flex justify-content-end">
                                    <button class="btn btn-primary" (click)="checkSquad(item.employees.length, item.name, item.id)">Visitar squad</button>
                                </div>
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
                <br>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary">Criar squad</button>
                </div>
            </div>
        </div>
        }@if(visualizeSquads === 'SQUAD') {
            <div class="row">
                <div class="col-1">
                    <a href="" class="back"><</a>
                </div>
                <div class="col-11">
                    <h3>{{currentSquad}}</h3>
                </div>
            </div>
        <br>
        <div class="card mb-5 card-custom" style="min-width: 1250px;">
            <div class="card-body mt-5 mb-5">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <div class="d-flex align-items-center">
                            <mat-form-field appearance="outline" class="me-2">
                                <mat-label>Início</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="startDate" [disabled]="!hasSquadMembers" (dateChange)="onStartDateChange($event)">
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="me-2">
                                <mat-label>Fim</mat-label>
                                <input matInput [matDatepicker]="picker2" formControlName="endDate" [disabled]="!hasSquadMembers" (dateChange)="onEndDateChange($event)">
                                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                            <button class="btn btn-primary btn-custom" color="primary" 
                            [disabled]="!hasSquadMembers" (click)="getReport()">Filtrar por data</button>
                        </div>
                    </div>
                </div>
                @if(!hasSquadMembers){
                    <div class="d-flex justify-content-center">
                        <img class="pb-3" src="assets/emotes/emote.svg" alt="">
                    </div>
                    <p style="color: #ACB5BD" class="text-center">Nenhum usuário cadastrado nesta squad. Crie um usuário para começar.</p>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-primary">Adicionar usuário</button>
                    </div>
                }@else if (!wasGetReport) {
                    <div class="d-flex justify-content-center">
                        <img class="pb-3" src="assets/emotes/emote.svg" alt="">
                    </div>
                    <p style="color: #ACB5BD" class="text-center">Nenhum intervalo de data selecionado. Selecione um intervalo para começar.</p>
                }@else {
                    <h5 class="text-center">Horas por membro</h5>
                    <table class="table table-responsive custom-table">
                        <thead>
                            <tr>
                                <th style="width: 20%;" class="text-center" scope="col">Membro</th>
                                <th style="width: 40%;" scope="col">Descrição</th>
                                <th style="width: 10%;" scope="col">Horas</th>
                                <th style="width: 30%;" scope="col">Criado em</th>
                            </tr>
                        </thead>
                        <tbody class="table-light">
                            @for (item of employees; track $index) {
                            <tr>
                                <td class="text-center">{{item.employee.name}}</td>
                                <td>{{item.description}}</td>
                                <td>{{item.spentHours}}</td>
                                <td>{{item.createdAt | date:'dd/MM/yyyy'}}</td>
                            </tr>
                            }
    
                        </tbody>
                    </table>
                    <br>
                    <div class="text-center">
                        <h4>Horas totais da squad</h4>
                        <h1 style="color: #4263EB;">{{totalHours}} Horas</h1>
                        <h4>Média de horas por dia</h4>
                        <h1 style="color: #4263EB;">{{averageHours | number:'1.1-1'}} Horas/Dia</h1>
                    </div>
                }
            </div>
        </div>
        }
    </div>
</div>